
target/

*.bak
*.swp
*~
.DS_Store
HELP.md
docker-compose.override.yml
logback-test.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Netbeans ###
nbproject/

### VS Code ###
.vscode/

